---
import Layout from "../../layouts/Layout.astro";

import ReactIcon from "../../components/icons/ReactIcon.astro";
import TailwindIcon from "../../components/icons/TailwindIcon.astro";
import ExpressIcon from "../../components/icons/ExpressIcon.astro";
import MysqlIcon from "../../components/icons/MysqlIcon.astro";

const data = {
  key: "InventoryApp",
  title: "Inventory App",
  details:
    "Inventory App es una aplicación básica para gestionar inventarios de productos, diseñada para comprender mejor el entorno Backend, " +
    "siendo esta mi primera experiencia con el Backend. \n\n" +
    "El proyecto incluye un backend desarrollado con Express y una base de datos MySQL.",
  image: "/assets/images/inventory/inventory-login.webp",
  techs: [
    {
      name: "React",
      icon: ReactIcon,
    },
    {
      name: "TailwindCSS",
      icon: TailwindIcon,
    },
    {
      name: "Express",
      icon: ExpressIcon,
    },
    {
      name: "MySQL",
      icon: MysqlIcon,
    },
  ],
};
---

<Layout title={data.title}>
  <section class="w-full md:w-4/5 lg:w-3/5 mx-auto py-12 px-4">
    <figure>
      <img
        class="object-contain h-44 sm:h-64 md:h-96 w-full rounded-lg"
        src={data.image}
        alt={data.key}
        transition:name={`project ${data.key}`}
        height={600}
        width={800}
      />
    </figure>

    <div class="space-y-4 mt-6">
      <h2 class="font-semibold text-2xl">{data.title}</h2>
      <p class="text-justify whitespace-pre-line">
        {data.details}
      </p>
    </div>

    <div class="font-medium mt-8">
      <h3 class="text-lg">Hecho con</h3>
      <ul class="flex flex-wrap justify-center gap-4 mt-4">
        {
          data.techs.map((tech) => (
            <li class="bg-slate-200 flex items-center gap-2 px-3 py-2 rounded-full text-xs">
              <tech.icon className="h-6 w-6 bg-slate-100 rounded-full p-1" />
              {tech.name}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
