---
import Layout from "../../layouts/Layout.astro";

import ReactIcon from "../../components/icons/ReactIcon.astro";
import BootstrapIcon from "../../components/icons/BootstrapIcon.astro";
import SocketIcon from "../../components/icons/SocketIcon.astro";

const data = {
  key: "SysChat",
  title: "SysChat",
  details:
    "Desempeñando un rol de Desarrollador Web Frontend, mi proyecto de Residencias Profesionales consistió en optimizar y rediseñar el sistema SysChat utilizado internamente en la empresa. \n\n" +
    "SysChat es una aplicación desarrollada para gestionar el personal de la empresa y facilitar la comunicación en tiempo real entre empleados y clientes. " +
    "Cuenta con un sistema de autenticación y roles de usuario, diseño responsivo y una interfaz de usuario intuitiva. \n\n" +
    "El proyecto fue integrado con un backend desarrollado por el equipo de Backend, el cual se encarga de la autenticación y la gestión de usuarios y mensajes.",
  image: "/assets/images/sys-chat/sys-login.webp",
  techs: [
    {
      name: "React",
      icon: ReactIcon,
    },
    {
      name: "Bootstrap",
      icon: BootstrapIcon,
    },
    {
      name: "Socket.io",
      icon: SocketIcon,
    },
  ],
};
---

<Layout title={data.title}>
  <section class="w-full md:w-4/5 lg:w-3/5 mx-auto py-12 px-4">
    <figure>
      <img
        class="object-contain h-44 sm:h-64 md:h-96 w-full rounded-lg"
        src={data.image}
        alt={data.key}
        transition:name={`project ${data.key}`}
        loading="lazy"
        height={600}
        width={800}
      />
    </figure>

    <div class="space-y-4 mt-6">
      <h2 class="font-semibold text-2xl">{data.title}</h2>
      <p class="text-justify whitespace-pre-line">
        {data.details}
      </p>
    </div>

    <div class="font-medium mt-8">
      <h3 class="text-lg">Hecho con</h3>
      <ul class="flex flex-wrap justify-center gap-4 mt-4">
        {
          data.techs.map((tech) => (
            <li class="bg-slate-200 flex items-center gap-2 px-3 py-2 rounded-full text-xs">
              <tech.icon className="h-6 w-6 bg-slate-100 rounded-full p-1" />
              {tech.name}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
