---
import Layout from "../../layouts/Layout.astro";
import LinkButton from "../../components/ui/LinkButton";
import GitHubIcon from "../../components/icons/GitHubIcon.astro";

import NextjsIcon from "../../components/icons/NextjsIcon.astro";
import TailwindIcon from "../../components/icons/TailwindIcon.astro";

const data = {
  key: "TesloShop",
  title: "Teslo Shop",
  details:
    "Teslo Shop es un diseño de tienda en línea creado para aprender el funcionamiento de NextJS. " +
    "El proyecto utiliza datos estáticos y no incluye un backend.",
  image: "/assets/images/teslo-shop/teslo-home.webp",
  repo: "https://github.com/Gustavoand39/teslo-shop",
  techs: [
    {
      name: "NextJS",
      icon: NextjsIcon,
    },
    {
      name: "TailwindCSS",
      icon: TailwindIcon,
    },
  ],
};
---

<Layout title={data.title}>
  <section class="w-full md:w-4/5 lg:w-3/5 mx-auto py-12 px-4">
    <figure>
      <img
        class="object-contain h-44 sm:h-64 md:h-96 w-full rounded-lg"
        src={data.image}
        alt={data.key}
        transition:name={`project ${data.key}`}
        height={600}
        width={800}
      />
    </figure>

    <div class="space-y-4 mt-6">
      <h2 class="font-semibold text-2xl">{data.title}</h2>
      <p class="text-justify whitespace-pre-line">
        {data.details}
      </p>
    </div>

    <div class="font-medium mt-8">
      <h3 class="text-lg">Hecho con</h3>
      <ul class="flex flex-wrap justify-center gap-4 mt-4">
        {
          data.techs.map((tech) => (
            <li class="bg-slate-200 flex items-center gap-2 px-3 py-2 rounded-full text-xs">
              <tech.icon className="h-6 w-6 bg-slate-100 rounded-full p-1" />
              {tech.name}
            </li>
          ))
        }
      </ul>
    </div>

    <div class="mt-8 text-center">
      <LinkButton
        ariaLabel="View project repository"
        href={data.repo}
        target="_blank"
        className="rounded-lg"
      >
        <>
          <GitHubIcon className="inline-block h-6 w-6 mr-1 mb-1" />
          Ver repositorio
        </>
      </LinkButton>
    </div>
  </section>
</Layout>
